@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,500;1,900&family=Source+Code+Pro:ital,wght@1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

