@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,500;1,900&family=Source+Code+Pro:ital,wght@1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.landing-Page {
  height: 100vh;
  width: 100vw;
  background-image: url(https://github.com/Thuku7/Delani-Studio-Week3-IP/blob/master/assets/backgrounds/h_img.jpg?raw=true);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}

.mouse {
  position:absolute;
  bottom: 50px;
}