@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,500;1,900&family=Source+Code+Pro:ital,wght@1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.landing-Page {
  height: 100vh;
  width: 100vw;
  background-image: url(https://github.com/Thuku7/Delani-Studio-Week3-IP/blob/master/assets/backgrounds/h_img.jpg?raw=true);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}

.mouse {
  position:absolute;
  bottom: 50px;
}

.landing-Page h2 {
  line-height: 1.5em;
  font-weight: 500;
  font-size: 2.7em;
}

.landing-Page p {
  font-size: 1.0em;
}

.about-Us {
  min-height: 37vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://github.com/Thuku7/Delani-Studio-Week3-IP/blob/master/assets/backgrounds/s_image.jpg?raw=true);
  height: 63vh;
  background-position: center;
  background-size: cover;
  color: white;
}

.bottom, .dev-bottom, .prod-bottom {
  display: none;
}

.top, .development-top, .product-top {
  display: inline;
}

.container {
  
  justify-content: space-evenly;
  flex: 1;
  display: flex;

}

.what-we-do {
  height: 100vh;
  text-align: center;
  display: flex;
  
}

.portfolio {
  height:100vh;
  
}

.row div {
  height: 265px;
  width: 290px;
background-position: center;
}

body > section.What-we-do > div.portfolio > div > div > div > div.div1.col {
  background-image: url(https://github.com/Thuku7/Delani-Studio-Week3-IP/blob/master/assets/portfolio/work1.jpg?raw=true);
  

}

body > section.What-we-do > div.portfolio > div > div > div > div.div2.col > div {
  background-image: url(https://github.com/Thuku7/Delani-Studio-Week3-IP/blob/master/assets/portfolio/work2.jpg?raw=true);
}

body > section.What-we-do > div.portfolio > div > div > div > div.div3.col > div {
  background-image: url(https://github.com/Thuku7/Delani-Studio-Week3-IP/blob/master/assets/portfolio/work3.jpg?raw=true);
}

body > section.What-we-do > div.portfolio > div > div > div > div.div4.col > div {
  background-image: url(https://github.com/Thuku7/Delani-Studio-Week3-IP/blob/master/assets/portfolio/work4.jpg?raw=true);

}

body > section.What-we-do > div.portfolio > div > div > div > div.div5.col {
  background-image: url(https://github.com/Thuku7/Delani-Studio-Week3-IP/blob/master/assets/portfolio/work5.jpg?raw=true);

}
body > section.What-we-do > div.portfolio > div > div > div > div.div6.col > div {
  background-image: url(https://github.com/Thuku7/Delani-Studio-Week3-IP/blob/master/assets/portfolio/work6.jpg?raw=true);
}

body > section.What-we-do > div.portfolio > div > div > div > div.div7.col > div {
  background-image: url(https://github.com/Thuku7/Delani-Studio-Week3-IP/blob/master/assets/portfolio/work7.jpg?raw=true);

}

body > section.What-we-do > div.portfolio > div > div > div > div.div8.col > div {
  background-image: url(https://github.com/Thuku7/Delani-Studio-Week3-IP/blob/master/assets/portfolio/work8.jpg?raw=true);
}

body > section.What-we-do > div.portfolio > div {
  position: relative;
}

.message {
  height: 78vh;
  margin-top: 1rem;
  background-image: url(https://github.com/Thuku7/Delani-Studio-Week3-IP/blob/master/assets/backgrounds/c_image.jpg?raw=true);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
